<div id="modal-menu" style="display: none;">
    <div id="container-modal" class="w3-center sem-selecao">
        <div id="conteudo-modal">
            <div id="categorias-modal">
                <ul id="lista-modal">
                    <li>
                        <a href="/imoveis/prontos.html" class="sem-decoracao" title="Imóveis Prontos">
                            <i class="icone-vosq vosq-home icone-modal"></i>Imóveis Prontos
                        </a>
                    </li>
                    <li>
                        <a href="/imoveis/em-obras.html" class="sem-decoracao" title="Imóveis Em Obras">
                            <i class="icone-vosq vosq-build icone-modal"></i>Imóveis Em Obras
                        </a>
                    </li>
                    <li>
                        <a href="/imoveis/na-planta.html" class="sem-decoracao" title="Imóveis Na Planta">
                            <i class="icone-vosq vosq-design-services icone-modal"></i>Imóveis Na Planta
                        </a>
                    </li>
                    <li>
                        <a href="/imoveis/zona-sul.html" class="sem-decoracao" title="Imóveis Zona Sul">
                            <i class="icone-vosq vosq-home-pin icone-modal"></i>Imóveis Zona Sul
                        </a>
                    </li>
                    <li>
                        <a href="/imoveis/zona-oeste.html" class="sem-decoracao" title="Imóveis Zona Oeste">
                            <i class="icone-vosq vosq-home-pin icone-modal"></i>Imóveis Zona Oeste
                        </a>
                    </li>
                </ul>
            </div>

            <div id="container-redesmodal">
                <div class="texto-modal"><strong>Nossas redes sociais</strong></div>

                <a href="https://www.instagram.com/vivaondesemprequis/" target="_blank" class="link-modal" title="Instagram: @vivaondesemprequis">
                    <i class="icone-vosq vosq-instagram icone-redesmodal"></i>
                </a>
                
                <a href="https://www.facebook.com/profile.php?id=100064546669671" target="_blank" class="link-modal" title="Facebook: viva_onde_sempre_quis">
                    <i class="icone-vosq vosq-facebook-square icone-redesmodal"></i>
                </a>

                <div id="fale-conoscomodal">
                    <div class="texto-modal"><strong>Fale conosco</strong></div>

                    <div id="chat-modal">
                        <a href="https://api.whatsapp.com/send?phone=5511961986585" target="_blank" title="Conversar por Chat Online">
                            <i class="icone-vosq vosq-forum icone-conversarmodal"></i><strong>Conversar por Chat</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="rodape-modal">
            <span id="textorodape-modal">Viva Onde Sempre Quis - CNPJ: 51.361.182.0001/67</span>
        </div>
    </div>
</div>