<div id="barra-rodape" class="w3-black w3-center sem-selecao">
    <div id="texto-atendimento"><strong>Atendemos em toda São Paulo</strong></div>
    <div id="separador-rodape"></div>
    <div id="texto-vendas"><strong>Central de Vendas (11) 96198-6585</strong></div>
</div>

<div id="rodape" class="w3-padding-32 w3-center sem-selecao">
    <img id="logotipo-rodape" src="/images/logos/logo-vivaondesemprequis-rodape.svg">
    <div id="container-rodape">
        <div id="categorias-rodape">
            <ul id="lista-rodape">
                <li>
                    <a href="/imoveis/prontos.html" class="sem-decoracao" title="Imóveis Prontos">
                        <i class="material-symbols-outlined icone-rodape">home</i>Imóveis Prontos
                    </a>
                </li>
                <li>
                    <a href="/imoveis/em-obras.html" class="sem-decoracao" title="Imóveis Em Obras">
                        <i class="material-symbols-outlined icone-rodape">build</i>Imóveis Em Obras
                    </a>
                </li>
                <li>
                    <a href="/imoveis/na-planta.html" class="sem-decoracao" title="Imóveis Na Planta">
                        <i class="material-symbols-outlined icone-rodape">design_services</i>Imóveis Na Planta
                    </a>
                </li>
                <li>
                    <a href="/imoveis/zona-sul.html" class="sem-decoracao" title="Imóveis Zona Sul">
                        <i class="material-symbols-outlined icone-rodape">home_pin</i>Imóveis Zona Sul
                    </a>
                </li>
                <li>
                    <a href="/imoveis/zona-oeste.html" class="sem-decoracao" title="Imóveis Zona Oeste">
                        <i class="material-symbols-outlined icone-rodape">home_pin</i>Imóveis Zona Oeste
                    </a>
                </li>
            </ul>
        </div>

        <div id="container-redes">
            <h4 class="texto-redes"><strong>Nossas redes sociais</strong></h4>

            <a href="https://www.instagram.com/vivaondesemprequis/" target="_blank" class="link-redes" title="Instagram: @vivaondesemprequis">
                <i class="fa fa-instagram icone-redes"></i>
            </a>
            
            <a href="https://www.facebook.com/profile.php?id=100064546669671" target="_blank" class="link-redes" title="Facebook: viva_onde_sempre_quis">
                <i class="fa fa-facebook-square icone-redes"></i>
            </a>

            <div id="fale-conosco">
                <h4 class="texto-redes"><strong>Fale conosco</strong></h4>

                <div id="chat-rodape">
                    <a href="https://api.whatsapp.com/send?phone=5511961986585" target="_blank" title="Conversar por Chat Online">
                        <i class="material-symbols-outlined icone-conversar">forum</i><strong>Conversar por Chat</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="barra-direitos" class="w3-white sem-selecao">
    <div id="texto-direitos">
        &copy; 2023 Viva Onde Sempre Quis | CNPJ: 51.361.182.0001/67 | Todos os Direitos Reservados.<br>
        Desenvolvido por
        <a href="https://www.linkedin.com/in/paulodeandrade23/" target="_blank" class="link-direitos" title="LinkedIn: @paulodeandrade23">
            Paulo de Andrade<i id="icone-linkedin" class="fa fa-linkedin-square"></i>
        </a>
        | Versão: github-1.1.5
    </div>
</div>